.container {
  width: 95%;
  margin: 0 auto;
  background-color: inherit;
  color: rgb(240, 250, 250);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  }

.container:first-of-type {
  border-top: 1.5px solid rgba(220, 250, 250, 0.623);
}

.container-title {
  font-weight: bold; 
  padding: 0.5rem 0.5rem;
  text-align: left; 
  font-size: 1.4rem; 
  text-transform: uppercase;
}

.container-content {
  padding: 0.5rem 1rem; 
  text-align: center;
  font-style: normal;
}

.container-content p {
  font-size: 1rem;
}

.container-content ul {
  list-style: none; 
  padding-left: 0px; 
  margin: 0px;
}

.container-content ul li {
  display: grid; 
  grid-template-columns: 1.5rem 8rem 1fr; 
  gap: 0.5rem;
  align-items: baseline; 
  margin-bottom: 0.5rem;
}

.container-content ul li::before {
  content: "→"; 
  color: #ffffff;
  font-size: 1.5rem;
}

.container-content ul li span {
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.container-content ul li .category {
  text-align: left; 
  font-weight: bold; 
  white-space: normal; 
  word-wrap: break-word; 
}

.container-content ul li .details {
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.container-content ul li .details-list {
  text-align: left; 
}

.container-content ul li .details-list span {
  display: block; 
  margin-bottom: 0.5rem; 
}

.container-content ul li .details-list span:last-child {
  margin-bottom: 0; 
}

.container-content p:hover,
.container-content ul li:hover {
  background-color: #2d3748;
  color: #9f2b2b;
  transition: background-color 0.05s, color 0.05s;
}

.tapped {
  background-color: #2d3748;
  color: #9f2b2b;
  transition: background-color 0.05s, color 0.05s;
}